.button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    min-width: 100px;
    height: 50px;
    /* background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
     */
    background-color: var(--Persian-green);
    border-radius: 30px;
    border: 1px solid #2B2C28;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--snow);
    text-shadow: 0 1px #fff;


}

a {
    text-decoration: none;
    color: var(--snow);
}

.button:hover {
    box-shadow: 0 2px 3px 1px var(--Snow);
}