.messageBox {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
}

.messageBox:focus-within {
    border: 1px solid #606060;
}



textarea {
    width: 100%;
    /* padding: 6px 8px; */
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 8px;
    color: var(--snow);
    resize: none;
    height: 100%;
    border: none;
    background-color: transparent;
    font-family: inherit;
}

textarea:focus {
    outline: none;
}

.messageBox__send_container {
    display: flex;
    /* justify-content: flex-end; */
    width: 100%;
    height: 100%;
    /* margin-top: 10px; */
    background-color: transparent;
}

.messageBox__button {

    /* font-size: rem; */
    border: none;
    /* padding: 10px 20px; */
    border-radius: 8px;
    /* cursor: pointer; */
}

.messageBox_icon {
    color: var(--Tiffany-Blue);
    font-size: 2rem;
    cursor: pointer;
}