/* .dark {
  --clr-bg: #131515;
  Night
  --clr-bg-alt: #2b2c28;
  Jet
  --clr-fg: #fffafb;
  Snow
  --clr-fg-alt: #339989;
  Persian-green/
  --clr-fg-alt2: #7de2d1;
  Tiffany-Blue
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
} */
:root {
  --Night: #131515;
  --Jet: #2b2c28;
  --Persian-green: #339989;
  --Tiffany-Blue: #7de2d1;
  --Snow: #fffafb;
}


* {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  box-sizing: border-box;
  /* background-color: var(--Night); */
}

/* .Landing {
  width: fit-content;
  min-height: fit-content;
} */

.App {
  background-color: var(--Night);
  width: 100Vw;
  min-height: 100vh;
  height: fit-content;
  color: var(--Snow);
  padding-bottom: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--Jet) */
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  margin: 40px auto;
  text-align: center;

  width: 80%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.main h1 {
  font-size: 1rem;
  opacity: 0.4;
}

.main h2 {
  font-size: 2.5rem;
}

.main p {
  font-size: 1.3rem;
}

.textarea h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}


/* From Uiverse.io by naelawadallah */
.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search-header__input {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  background-color: #0a0a0a;
  border: solid 0.5px #525252;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  width: 240px;
  height: 48px;
  transition: all ease-in-out 0.5s;
  opacity: 1;
  text-align: center;
}

@media (min-width:1000px) {
  .navbar {
    padding: 20px 60px;
  }

  main {
    width: 60%;
  }

  .main h2 {
    font-size: 4rem;
  }

  /* search-header__input */
  .search-header__input {
    width: 400px;
  }

  .textarea {
    width: 50%;
  }
}